<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1"></meta>
<title>home</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js">
	
</script>
<script src="YourExternalJQueryScripts.js"></script>
</head>
<body>
  
	<header data-include="headerportion"></header>
	<aside data-include="leftsidebar"></aside>
	<main >Hello <h1 th:text="${username}"></h1></main>
	<footer data-include="footerportion"></footer>

</body>
</html>